# Этот файл устанавливает кодировку в браузере по умолчанию в UTF-8
# Это необходимо для корректного отображения кириллицы в браузере
# должна быть включена директива apache, отвечающая за использование файла .htaccess
AddDefaultCharset UTF-8
